.footer{
    margin: 100px 200px 20px 200px;

    .top{
        display: flex;
        gap: 50px;
    }
    .item{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
        font-size: 14px;

        h1{
            font-size: 18px;
            font-weight: 500;
            color: #555;
        }
        span{
            color: gray;
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        position: relative;;

        .left{
            display: flex;
            align-items: center;

            .logo{
                display:flex;
                align-items: center;
                justify-content: center;
                color: #2879fe;
                font-size: 24px;
                font-weight: bold;
            }
            .copyright{
                font-size: 12px;
                color: gray;
                margin-left: 20px;
            }

        }
        .right{
            display: flex;
            align-items: center;
            img{
                height: 70px;
                 width: 370px;
                 object-fit: contain;
            }
        }

    }

}


// .right{
//     .stripe{
       
//         height: 50px;
//         width: 50px;
//          object-fit: contain;
//     }
//     .img{
//         height: 200px;
//         width: 300px;
//          object-fit: contain;
//     }
// }